.App {
  text-align: center;
  background-color: #302e2b;
  height: 100vh;
  color: #cecece;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.FormReg {
  display: flex;
  justify-content: center;
}

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 440px;
  padding: 20px;
  background-color: #51504d;
  border-radius: 6px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

